parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: play-sport
    database_user: root
    database_password: freedom
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: ru
    secret: 36a75cb9ac40fd4f3bf9fe9f577bb0a0
