{% extends 'PsFootballBundle::base.html.twig' %}

{% block content %}
<div>События :</div>
<ul>
    {% for event in events %}
        <li><a href="{{ url('football_event_index', {'id': event.id}) }}">{{ event.title }}: {{ event.dateStart|date('m-d H:i') }} - {{ event.dateEnd|date('m-d H:i') }}</a></li>
    {% endfor %}
</ul>
{% endblock %}